<div class="container">
  <h3 class="text-center">THE ORIGINAL 151 POKEMON </h3>
  

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h4><%= pokemon.name %></h4>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
</div>

